@model FrontPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid no-space topnav " id="myTopnav">
    @Html.Partial("_Navigation", this.Global.NavigationItems)
    @Html.Partial("_Header")

</div>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <main class="main-content">
                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <div class="row">
                            @if (Model.News != null)
                            {
                                foreach (var item in Model.News)
                                {
                                    <!--cards-->
                                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="zoom-in" data-aos-duration="1500">
                                        <div class="card card-animated">
                                            <div class="card-animated__content">
                                                <h1 class="card-animated__title">@item.Title</h1>
                                                <p>
                                                    @item.MetaDescription
                                                </p>
                                                <a href="@item.Url" class="btn btn-readmore redMorebtn">Læs Mere</a><!--TODO: Dictionary-->
                                            </div>
                                            <div class="card-animated__image-container">
                                                <img class="card-animated__image"
                                                     src="@item.MetaImage.GetImageUrlOrDefault()?width=500"
                                                     alt="@item.MetaImage.GetImageAltText()">
                                            </div>
                                            <svg class="card-animated__svg" viewBox="0 0 800 500">
                                                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                                                      stroke="transparent" fill="#353131" />
                                                <path class="card-animated__line"
                                                      d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                                                      stroke-width="3" fill="transparent" />
                                            </svg>

                                        </div>
                                    </div>
                                    <!--cards-->
                                }
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <!--Aside-->
                        @Html.Partial("_Aside")
                        <!--Aside-->
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
@Html.Partial("_Footer", this.Global.Footer)