



@*@this.Global.GalleryBlock*@
@*@this.Global.NewestArticlesBlock*@


<aside class="aside-blocks">
    @if (this.Global.ListenBlock != null && this.Global.ListenBlock.Any())
    {
        <!--Music playlist-->
        <div class="aside__block">
            <div class="aside__block-title">
                <h3>Listen</h3>
            </div>
            <div class="aside__block-content">
                <div class="simple-player">
                    <audio controls class="audio-player">
                        <source id="audio-player__src" src="@this.Global.ListenBlock.First().Url" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <ul class="music-player__list">
                    @foreach (var number in this.Global.ListenBlock)
                    {
                        <li data-music-src="@number.Url" class="audioNumber"><span><i class="fas fa-play"></i></span> @number.Name</li>
                    }
                </ul>
            </div>
            <div class="aside__block-footer">
                <!--missing music player...-->
            </div>
        </div>
        <!--music playlist-->
    }

    @if (this.Global.GalleryBlock != null && this.Global.GalleryBlock.Any())
    {
        <!--Gallery Block-->
        <div class="aside__block">
            <div class="aside__block-title">
                <h3>Gallery</h3>
            </div>
            <div class="aside__block-content">
                <div class="aside__gallery">
                    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @foreach (var image in this.Global.GalleryBlock)
                            {
                                <div class="carousel-item @(image == this.Global.GalleryBlock.First() ? "active" : string.Empty)" data-interval="3500">
                                    <img src="@image.Url?height=360&width=720&quality=40" class="d-block w-100" alt="...">
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleI" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Gallery block-->
    }

    <div class="aside__block">
        <div class="aside__block-title">
            <h3>Facebook</h3>
        </div>
        <div class="aside__block-content">
            <div class='embedsocial-hashtag' data-ref="b7ca8b4c145e7f41757d6735d2e13f1c9a1f7671"></div>
            <script>(function (d, s, id) { var js; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript"));</script>
        </div>
    </div>

    <div class="aside__block">
        <div class="aside__block-title">
            <h3>Facebook</h3>
        </div>
        <div class="aside__block-content">
            <div class='embedsocial-hashtag' data-ref="45e2b6c24c83b53a67cef3ac9576e5b86f90ef37"></div>
            <script>(function (d, s, id) { var js; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript"));</script>
        </div>
    </div>
</aside>