@model NavigationItemModel



<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="@this.Global.LandingPageLink">
        <img src="~/Content/Media/headerLogo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
        <div class="navbar-nav ">
            @foreach (var link in Model.Children)
            {
                <a href="@link.Url" class="nav-item nav-link @(link.Active ? "active" : string.Empty)">@link.Name</a>
            }
            <a href="@Model.Url" class="nav-item nav-link @(Model.Active ? "active" : string.Empty)">@Model.Name</a>
        </div>
    </div>
</nav>