@model NewsCardsModel

<div class="row">
    <div class="col-12">
        <ul class="year-selection">
            @foreach (var item in Model.YearsAvailable)
            {
                <li>
                    @using (Ajax.BeginForm("GetNews", "NewsSurface", new { pageId = Model.PageId, year = item }, new AjaxOptions { HttpMethod = "post", OnBegin = "ShowSpinner()", OnComplete = "HideSpinner()", OnFailure = "ShowErrorMessage('Kunne ikke sortere nyhederne på år.')", OnSuccess = "ShowSuccessMessage('Nyheder sorteret.')", UpdateTargetId = "newsCards" }))
                    {
                        <button type="submit" class="btn btn-primary @(item == Model.ActiveYear.ToString() ? "active" : string.Empty)">@item</button>
                    }
                </li>
            }
        </ul>
    </div>
</div>
<div class="row news d-flex justify-content-center" id="newsCards">
    @foreach (var item in Model.Cards)
    {
        <div class="card newscard m-3  p-0 col-lg-3 col-md-4 col-sm-12" style="background-color: #353131 ;" data-aos="zoom-in" data-aos-duration="1500">
            <img class="card-img-top" src="@item.MetaImage.GetImageUrlOrDefault()?width=500&quality=50" alt="@item.MetaImage.GetImageAltText()">
            <div class="card-body">
                <h5 class="card-title font-weight-bolder">@item.Title</h5>
                <p class="card-text ">@item.MetaDescription.Elipsis(100)</p>
                <a href="@item.Url" class="btn btn-primary">@Umbraco.GetDictionaryValue(DictionaryConstants.ButtonReadMore)</a>
            </div>
        </div>
    }
</div>
