@model SeoModel

<title>@this.Global.Seo.Title</title>
<meta name="description" content="@this.Global.Seo.Description">

<meta property="og:type" content="website">
<meta property="og:title" content="@this.Global.Seo.Title" />
<meta property="og:url" content="@this.Global.Seo.PageUrl" />
<meta property="og:image" content="@this.Global.Seo.Image" />
<meta property="og:description" content="@this.Global.Seo.Description" />

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="@this.Global.Seo.Title" />
<meta property="twitter:description" content="@this.Global.Seo.Description" />
<meta property="twitter:site" content="@this.Global.Seo.PageUrl" />
<meta property="twitter:image" content="@this.Global.Seo.Image" />